/* reset default navigation parameters */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* big screen (computer) part */
.title
{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: #0C91C6;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

.footer_buttons
{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 20%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    min-width: 288px;
    min-height: 127.2px;
}

.feeling_button, .back_button
{
    width: 100%;
    height: 80%;
    margin: 8px 0px 15px 0px;
    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 17px;
    border-radius: 4px;
}

.feeling_button
{
    margin: 8px 0px 15px 0px;
    color: #FFFFFF;
    background-color: #0C91C6;
}

.back_button
{
    margin: 8px 0px 15px 0px;
    height: 50%;
    color: #0C91C6;
    background-color: #E1E1E1;
}

/* little screen (phones) part */

@media screen and (max-width: 809px)
{
    .title
    {
        left: 50%;
        transform: translate(-50%);
        font-size: 12px;
        width: 75%;
    }

    .color_buttons
    {
        top: 40%;
        width: 345.1px;
        min-width: 0px;
        max-width: 462.75px;
        max-height: 68.15px;
    }

    .green_button, .orange_button, .red_button, .black_button
    {
        width: 14%;
        height: 75%;
    }
}