/* reset default navigation parameters */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* big screen (computer) part */
.title
{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: #0C91C6;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

.color_buttons
{
    width: 25%;
    height: 12%;
    position: absolute;
    top: 35%;
    left: 51%;
    transform: translate(-50%);
    min-width: 477px;
}


#green_button, #orange_button, #red_button, #black_button
{
    border: 0px;
    width: 18%;
    height: 80%;
    border-radius: 100%;
    margin: 10px;
}

#green_button
{
    background-color: #76EEA6;
}

#green_button:hover
{
    background-color: #04D600;
}

#green_button:focus
{
    background-color: #04D600;
}

#orange_button
{
    background-color: #fcfa95;
}

#orange_button:hover
{
    background-color: #ffe600;
}

#orange_button:focus
{
    background-color: #ffe600;
}

#red_button
{
    background-color: #FFA6A6;
}

#red_button:hover
{
    background-color: #F80000;
}

#red_button:focus
{
    background-color: #F80000;
}

#black_button
{
    background-color: #A8A8A8;
}

#black_button:hover
{
    background-color: #373737;
}

#black_button:focus
{
    background-color: #373737;
}

.footer_buttons
{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 20%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    min-width: 288px;
    min-height: 127.2px;
}

.send_button, .back_button
{
    width: 100%;
    height: 80%;
    margin: 8px 0px 15px 0px;
    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 17px;
    border-radius: 4px;
}

.send_button
{
    margin: 8px 0px 15px 0px;
    color: #FFFFFF;
    background-color: #0C91C6;
}

.back_button
{
    margin: 8px 0px 15px 0px;
    height: 50%;
    color: #0C91C6;
    background-color: #E1E1E1;
}

/* little screen (phones) part */

@media screen and (max-width: 809px)
{
    .title
    {
        left: 50%;
        transform: translate(-50%);
        font-size: 15px;
        width: 75%;
    }

    .color_buttons
    {
        top: 40%;
        width: 345.1px;
        min-width: 0px;
        max-width: 462.75px;
        max-height: 68.15px;
    }

    .green_button, .orange_button, .red_button, .black_button
    {
        width: 14%;
        height: 75%;
    }
}