/* reset default navigation parameters */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* big screen (computer) part */
.title
{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: #0C91C6;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%);
}

.date_bare
{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 310px;
    height: 50px;
    transform: translate(-50%);
    display: flex;
    font-weight: bold;
}

.left_arrow
{
    background-color: white;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-right: 30px solid black;
    border-bottom: 18px solid transparent;
    border-left: 0px;
    margin: 8px 20px 8px 20px;
}

.div_replace
{
    background-color: white;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 12px solid white;
    border-right: 30px solid white;
    border-bottom: 18px solid white;
    border-left: 0px;
    margin: 8px 20px 8px 20px;
}

.day_div
{
    padding: 8px 50px 8px 50px;
    margin: 5px 2px 5px 2px;
    border-radius: 4px;
    background-color: #0C91C6;
    color: white;
}

.right_arrow
{
    background-color: white;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-left: 30px solid black;
    border-bottom: 18px solid transparent;
    border-right: 0px;
    margin: 8px 20px 8px 20px;
}

.graphs
{
    width: 30%;
    height: 37%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}

.green_graph
{
    background-color: #34B607;
    min-width: 2%;
    text-align: right;
    margin: 45px 0px 45px 0px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

.yellow_graph
{
    background-color: #FF9900;
    min-width: 2%;
    text-align: right;
    margin: 45px 0px 45px 0px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

.red_graph
{
    background-color: #E30101;
    min-width: 2%;
    text-align: right;
    color: white;
    margin: 45px 8px 45px 0px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

.black_graph
{
    background-color: #373737;
    min-width: 2%;
    text-align: right;
    color: white;
    margin: 45px 0px 45px 0px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

.back_button
{
    width: 15%;
    height: 7%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Inter';
    font-style: normal;
    font-size: 17px;
    font-weight: bold;
    border-radius: 4px;
    border: 0;
    color: #0C91C6;
    background-color: #CBCBCB;
    min-width: 202.2px;
}

/* little screen (phones) part */

@media screen and (max-width: 809px)
{
    .title
    {
        font-size: 15px;
    }

    .date_bare
    {
        top: 17%;
    }

    .graphs
    {
        top: 30%;
        width: 75%;
        height: 70%;
    }

}


@media screen and (max-height: 681px)
{
    .back_button
    {
        top: 90%;
    }
}