/* reset default navigation parameters */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* big screen (computer) part */

.title
{
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%)
}

.title h1
{
    font-size: 40px;
    color: #0C91C6;
}

.title h2
{
    font-style: normal;
    font-size: 20px;
}

.Inputs
{
    width: 25%;
    height: 15%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    min-width: 416px;
}

.Inputs input
{
    width: 100%;
    height: 40%;
    border-radius: 4px;
    border: 1px;
    color: #000;
    font-size: 18px;
    padding: 4px 20px 0;
    border-style:solid;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.error
{
    color: #ef3600;
    font-family: 'Inter';
    font-style: normal;
    font-size: 17px;
}

.connection_button
{
    border-radius: 4px;
    position: absolute;
    top: 65%;
    left: 50%;
    width: 25%;
    height: 6%;
    font-size: 18px;
    border: 0px;
    transform: translate(-50%);
    min-width: 416px;
    background-color: #0C91C6;
    color: #FFFFFF;
}

/* little screen (phones) part */

@media screen and (max-width: 809px)
{

    .title
    {
        left: 20%;
        transform: translate(-20%);
        padding-left: 10px;
    }

    .title h1
    {
        font-size: 30px;
    }

    .title h2
    {
        font-size: 13px;
        width: 110%;
    }

    .Inputs
    {
        top: 45%;
        width: 90%;
        min-width: 20px;
        max-width: 441px;
    }

    .Inputs input
    {
        font-size: 15px;
        width: 100%;
        margin: 8px 8px 8px 2px;
    }

    .connection_button
    {
        top: 75%;
        width: 90%;
        min-width: 20px;
        max-width: 416px;
    }

}