/* reset default navigation parameters */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* big screen (computer) part */
.title
{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: #0C91C6;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
}

.day_buttons
{
    display: flex;
    flex-direction: column;
    width: 20%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 25px;
}

.day_button
{
    width: 100%;
    height: 15%;
    min-height: 75.95px;
    background-color: #B8D7ED;
    box-sizing: border-box;
    margin: 8px 8px 8px 0px;
    border: 0px;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

#return_button
{
    height: 13%;
    min-height: 50px;
    background-color: white;
    color: #0C91C6;
    margin-top: 0px;
    margin-button: 0px;
}

.day_button:hover
{
    color : white;
    background-color: #5d7e94;
}

/* little screen (phones) part */

@media screen and (max-width: 809px)
{
    .title
    {
        left: 50%;
        transform: translate(-50%);
        font-size: 15px;
    }

    .day_buttons
    {
        top: 30%;
        min-width: 200px;
    }

    .day_button
    {
        min-height: 51px;
    }
}

