/* reset default navigation parameters */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* big screen (computer) part */
.title
{
    font-family: "Inter';
    font-style: normal;
    font-size: 20px;
    color: #0C91C6;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}


.voted_button
{
    position: absolute;
    top: 30%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
}



.footer_buttons
{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 25%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    min-width: 288px;
    min-height: 127.2px;
}

.revote_button, .feeling_button, .back_button
{
    width: 100%;
    height: 80%;
    margin: 8px 0px 15px 0px;
    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 17px;
    border-radius: 4px;
}

.revote_button
{
    height: 50%;
    margin: 8px 0px 15px 0px;
    color: #FFFFFF;
    background-color: #00109B;
}


.feeling_button
{
    height: 50%;
    margin: 8px 0px 15px 0px;
    color: #FFFFFF;
    background-color: #0C91C6;
}

.back_button
{
    margin: 8px 0px 15px 0px;
    height: 50%;
    color: #0C91C6;
    background-color: #E1E1E1;
}

/* little screen (phones) part */

@media screen and (max-width: 809px)
{
    .title
    {
        left: 50%;
        transform: translate(-50%);
        font-size: 12px;
        width: 85%;
        margin-left: 5%;
    }

    .voted_button
    {
        width: 22%;
        min-height: 10%;
        min-width: 19%;
    }

    .footer_buttons
    {
        top: 65%;
    }

    .revote_button, .feeling_button, .back_button
    {
        min-height: 40px;
    }
}