<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='already_voted_style.css') }}" />
    <title>Vox Populi</title>
</head>

<body>

    <div class="title">
        <h1>Vous avez déjà voté, vous devez encore attendre {{time_left}}h pour revoter</h1>
    </div>

    <form class="footer_buttons" action="/already_voted_button" method="post">
        <button class="feeling_button" id="feeling_button" name="feeling_button" type="submit" value="{{day}}">Ressenti de la classe</button>
        <button class="back_button" name="back_button" type="submit">Retour</button>
    </form>

</body>

</html>