<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='ask_charge_style.css') }}" />
    <title>Vox Populi</title>
</head>

<body>

    <div class="title">
        <h1>Quelle est votre charge de travail {{day}} ?</h1>
    </div>

    <div class="color_buttons">
        <button id="green_button" name="color_button" type="button" onclick="setClickedButton('[\'green\', \'{{day}}\']')"></button>
        <button id="orange_button" name="color_button" type="button" onclick="setClickedButton('[\'orange\', \'{{day}}\']')"></button>
        <button id="red_button" name="color_button" type="button" onclick="setClickedButton('[\'red\', \'{{day}}\']')"></button>
        <button id="black_button" name="color_button" type="button" onclick="setClickedButton('[\'black\', \'{{day}}\']')"></button>
    </div>

    <script>
        function setClickedButton(value) {
            // Récupérer l'élément input caché
            var hiddenInput = document.getElementById('clickedButton');
            // Définir la valeur du premier bouton cliqué
            hiddenInput.value = value;

            var submitButton = document.getElementById('send_button');
            submitButton.disabled = (hiddenInput.value === '');
        }
    </script>

    <form class="footer_buttons" action="/get_vote" method="post">
        <input type="hidden" id="clickedButton" name="clicked_button" value="">
        <button class="send_button" id="send_button" name="send_button" type="submit" disabled>Envoyer</button>
        <button class="back_button" name="back_button" type="submit">Retour</button>
    </form>

</body>

</html>