<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='class_feeling_style.css') }}">
    <title>Projet Classe</title>
</head>

<body>

    <div class="title">
        <h1>{{classe}}</h1>
    </div>

    <form class="date_bare" action="/arrow_pressed" method="post">
        {% if left_arrow %}<button class="left_arrow" name="left_arrow" type="submit" value="['{{day}}', '{{classe}}']"></button>
        {% else %} <div class="div_replace"></div>
        {% endif %}
        <div class="day_div">{{day}}</div>
        {% if right_arrow %}<button class="right_arrow" name="right_arrow" type="submit" value="['{{day}}', '{{classe}}']"></button>{% endif %}
    </form>

    <div class="graphs">
        <div class="green_graph" style="width:{{results['green'] * 5}}%;">{{results['green']}}</div>
        <div class="yellow_graph" style="width:{{results['orange'] * 5}}%;">{{results['orange']}}</div>
        <div class="red_graph" style="width:{{results['red'] * 5}}%;">{{results['red']}}</div>
        <div class="black_graph" style="width:{{results['black'] * 5}}%;">{{results['black']}}</div>
    </div>

    <form action="/class_button_retour" method="post">
        <button class="back_button" name="back_button">Retour</button>
    </form>

</body>

</html>