<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='connection_style.css') }}">
    <title>Vox Populi</title>
</head>

<body>

    <div class="title">
        <h1>Connexion</h1>
        <h2>utilisez vos identifiants école directe</h2>
    </div>

    <form method="POST" action="/check_login">

        <div class="Inputs">
            <input type="text" id="login" name="login" class="input" placeholder="Identifiant">
            <input type="password" id="password" name="password" class="input" placeholder="Mot de passe">
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
        </div>

        <button type="submit" class="connection_button">Connexion</button>

    </form>

</body>

</html>