<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='day_menu_style.css') }}" />
    <title>Vox Populi</title>
</head>

<body>

    <div class="title">
        <h1>Choisissez {{end_title}}</h1>
    </div>

    <form class="day_buttons" {% if is_student %} action="/days_button_clicked" {% else %} action="/classe_button_clicked" {% endif %} method="post">
        {% for day in order_button_list%}
            <button class="day_button" name="day_button" type="submit" value="{{day}}">{{day}}</button>
        {% endfor %}
    </form>

</body>

</html>