<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='day_menu_style.css') }}" />
    <title>Vox Populi</title>
</head>

<body>

    <div class="title">
        <h1>{{classe}}</h1>
    </div>

    <form class="day_buttons" action="/days_classe_button" method="post">
        {% for day in order_button_list%}
            <button class="day_button" name="day_button" type="submit" value="['{{day}}', '{{classe}}']"
                    style="background-color: {{color_per_day[day][0]}}; color: {{color_per_day[day][1]}};">{{day}}</button>
        {% endfor %}
        <button class="day_button" id="return_button" name="day_button" type="submit" value="back">Retour</button>
    </form>

</body>

</html>