<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='revote_style.css') }}" />
    <title>Vox Populi</title>

    <script>
        window.addEventListener('popstate', function(event) {
            location.reload(true); // Recharger la page lorsqu'un événement popstate est détecté
        });
    </script>

</head>

<body>

    <div class="title">
        <h1>Vous avez déjà choisi cette couleur</h1>
    </div>

    <div class="voted_button" style="{{color}}"></div>

    <form class="footer_buttons" action="/revote_button" method="post">
        <button class="revote_button" name="revote_button" value="['revote', '{{day}}']" type="submit">Revoter</button>
        <button class="feeling_button" id="feeling_button" name="feeling_button" value="['feeling', '{{day}}', '{{color}}']" type="submit">Ressenti de la classe</button>
        <button class="back_button" name="back_button" value="back" type="submit">Retour</button>
    </form>

</body>

</html>