<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='thanks_style.css') }}" />
    <title>Vox Populi</title>
</head>

<body>

    <div class="title">
        <h1>Merci d'avoir envoyé votre impression !</h1>
    </div>

    <form class="footer_buttons" action="/thanks_vote_button" method="post">
        <button class="feel_button" name="feel_button" value="{{day}}" type="submit">Ressenti de la classe</button>
        <button class="back_button" name="back_button" type="submit">Retour</button>
    </form>

</body>

</html>